
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Menu</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item">
					    <a href="/summary_day" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Summary Day</span></a>
					</li>
					<li class="nav-item">
					    <a href="/summary_month" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Summary Month</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url 'logout' %}" 
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
